<div class=outer-box>
  <h1 class="h1">Register  </h1>
  <div class="outer-search-bar">
      <div class="search-bar">
          <input class="input" id="username" type="text" size=50 placeholder="Enter Username " [(ngModel)]="username">
      </div>
      <div class="search-bar">
          <input class="input" id="password" size=50 type="text" placeholder="Enter Password" [(ngModel)]="password">
      </div>
      <div class ="search-bar">
        <input class="input" id="email" size=50 placeholder="Enter E-Mail" [(ngModel)]="email">
      </div>
  </div>
  <div class="search">
      <button class="button" (click)="register(username,password,email)">Register</button>
  </div>
</div>
