
<div class="topnav">
        <a routerLink="/dashboard" >Home</a>
        <a routerLink="/search">Search</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
</div>

<div class=outer-box>
    <h1 class="h1">Register </h1>

    <div class="outer-search-bar">
         <p style="text-indent: 450px; font-family:Verdana; font-size:14px;">Enter a user name:</p>
        <div class="search-bar">
            <input class="input" id="username" type="text" size=50 placeholder="Enter Username " [(ngModel)]="username">
        </div>
        <p style="text-indent: 450px;font-family:Verdana; font-size:14px;">Enter a password:</p>
        <div class="search-bar">
            <input class="input" id="password" size=50 type="text" placeholder="Enter Password" [(ngModel)]="password">
        </div>
        <p style="text-indent: 450px;font-family:Verdana; font-size:14px;">Enter your e-Mail adress:</p>
        <div class="search-bar">
            <input class="input" id="email" size=50 placeholder="Enter E-Mail" [(ngModel)]="email">
        </div>
    </div>

    <div class="search">
        <button class="button" (click)="register(username,password,email)">sign up</button>
    </div>
</div>



<app-messagebox [message]="responsemessage" [type]="responsetype">
</app-messagebox>


