<html>
      
<div class="topnav">
        <a routerLink="/dashboard" >Home</a>
        <a routerLink="/search">Search</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
</div>

<div class="search-view">
    <div class="searchview-element">
        <app-searchbar [callback]="loadAppartements"></app-searchbar>
    </div>
    <div class="searchview-element">
        <app-searchresult [appartements]="appartements"></app-searchresult>
    </div>
    <div class="footer">          
        <p><p>           
    </div>
</div>
</html>