
  
<div class="topnav">
    <a routerLink="/dashboard">Home</a>
    <a routerLink="/search">Search</a>
    <a *ngIf="global.authenticatedUser === undefined" routerLink="/login">Login</a>
    <a *ngIf="global.authenticatedUser === undefined" routerLink="/register">Register</a>
    <a *ngIf="global.authenticatedUser !== undefined" (click)="logout()">Logout ({{global.authenticatedUser.username}})</a>
    <a *ngIf="global.authenticatedUser !== undefined" routerLink="/upload">Upload real-estate</a>
</div>

<div class=background>
<div class="search-view">
    <div class="searchview-element">
        <app-searchbar [callback]="loadAppartements"></app-searchbar>
    </div>
    <div class="searchview-element">
        <app-searchresult [appartements]="appartements"></app-searchresult>
    </div>
    
</div>
</div>
