* {box-sizing: border-box;}
        body {margin: 0;background-color:gainsboro;}


.header {
    background-color:gainsboro;
    padding: 40px;
    text-align: center;
    color:gold;
    font-size:40px;
    font-weight:bold;
    font-family: Verdana;
    
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px;
}

/* Left  column */
.column.left {
    width: 35%;
}

/* right column  */
.column.right {
    width: 65%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.left, .column.right {
        width: 100%;
    }
}