

<div class="header">  
  <h1>ImmoScout 2.0 </h1> 
</div>

<div class="row">
<div class="column left" style="background-color:#333;">
  <div class="topnav">
    <ul>
    <li><a routerLink="/dashboard" >Home</a></li>
    <li><a routerLink="/search">Search</a></li>
    <li><a *ngIf="global.authenticatedUser === undefined" routerLink="/login">Login</a></li>
    <li><a *ngIf="global.authenticatedUser === undefined" routerLink="/register">Register</a></li>
    <li><a *ngIf="global.authenticatedUser !== undefined" (click)="logout()">Logout ({{global.authenticatedUser.username}})</a></li>
    <li><a *ngIf="global.authenticatedUser !== undefined" routerLink="/upload">Upload real-estate</a></li>
  </ul>
  </div>
</div>

<div class="column right">Welcome to ImmoScout 2.0   
       
  <p></p>
                              
  </div>   
</div>
                     
<div class="footer">          
  <p style="font-family:Verdana; font-size: 16px;">© ImmoScout 2.0<p>
  <p style="font-family:Verdana; font-size: 10px;font-weight:bold;">Impressum: <p>
  <p style="font-family:Verdana; font-size: 10px;">Inhaber: Kertsin Metz, Josephine Pabst, Ivana Ivkovic, Marc Bambey</p>
  <p style="font-family:Verdana; font-size: 10px;">Adresse: Nibelungenplatz 1, 60318 Frankfurt am Main</p>
  <p style="font-family:Verdana; font-size: 10px;">Kontakt: admin@immoscout2.de</p>
</div>