* {box-sizing: border-box;}
        body {margin: 0;background-color:gainsboro;}


.topnav{
     overflow: hidden;
     background-color: #333;
     color: #333;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        font-family: Verdana;
        font-size: 14px;
    
}


li a {
    display: block;
    color: #f2f2f2;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #ddd;
    color: black;
}

.header {
    background-color:gainsboro;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color:gold;
    font-size:20px;
    font-weight:bold;
    font-family: Verdana;
    
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px;
}

/* Left  column */
.column.left {
    width: 20%;
}

/* right column  */
.column.right {
    font-size:18px;
    font-weight:bold;
    font-family: Verdana;
    background-image: url("https://www.rensch-haus.com/fileadmin/_processed_/csm_kundenhaus_santorin_1150x600px_966e440284.jpg");
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: gainsboro;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .column{
        width: 100%;
    }
}