<div class=outer-box>
    <h1 class="h1"> Search for your dream real-estate: </h1>
    <div class="outer-search-bar">
        <div class="search-bar">
            <input class="input" id="search" type="text" size=50 placeholder="Title " [(ngModel)]="searchwords">
        </div>
        <div class="search-bar">
            <input class="input" id="ort" size=50 type="text" placeholder="Location" [(ngModel)]="ort">
        </div>
    </div>
    <div class="search">
        <button class="button" (click)="callback(searchwords,ort)">Search</button>
    </div>
</div>