
.h1 {
        color: gold;   
        font-size:20pt;  
        font-family:Verdana;
        padding-top: 10px;
        padding-bottom: 30px;
      }

.search-bar{
        background-color: #fff;
        padding-bottom: 16px;
        font-family:Verdana;
        text-align: center;
}

.input{
        background-repeat: repeat-x;
        font-family: Verdana;
        height: 30px;
        width: 400px;
        border: 0px;
        color: rgba(15, 11, 34, 0.925);
        margin-top: 4px;
        border: 1px solid #000;
        background-color: rgb(255, 255, 227);
        
}

.button{
    
        height: 28px;
        width: 200px;
        border: 0px;
        font-family: Verdana;
        font-weight: bold;
        background-color: grey;
        color: #fff;
        margin-top: 16px;
        
}

.outer-search-bar{

        
}

.search{
    
        
    
}

.outer-box{
margin-left: auto;
margin-right: auto;
text-align: center;

}