
  <div class="footer">          
    <p style="font-family:Verdana; font-size: 14px;">© ImmoScout 2.0<p>
    <p style="font-family:Verdana; font-size: 10px;font-weight:bold;">Impressum: <p>
    <p style="font-family:Verdana; font-size: 10px;">Inhaber: Kerstin Metz, Josephine Pabst, Ivana Ivkovic, Marc Bambey</p>
    <p style="font-family:Verdana; font-size: 10px;">Adresse: Nibelungenplatz 1, 60318 Frankfurt am Main</p>
    <p style="font-family:Verdana; font-size: 10px;">Kontakt: admin@immoscout2.de</p>
  </div>