<div class="footer">
    <p style="font-family:Verdana; font-size: 16px; color: #c9c9c9">© ImmoScout 2.0
      <p>
        <p style="font-family:Verdana; font-size: 10px;font-weight:bold; color: #c9c9c9">Impressum:
          <p>
            <p style="font-family:Verdana; font-size: 10px; color: #c9c9c9">Inhaber: Kertsin Metz, Josephine Pabst, Ivana Ivkovic, Marc Bambey</p>
            <p style="font-family:Verdana; font-size: 10px; color: #c9c9c9">Adresse: Nibelungenplatz 1, 60318 Frankfurt am Main</p>
            <p style="font-family:Verdana; font-size: 10px; color: #c9c9c9">Kontakt: admin@immoscout2.de</p>
  </div>