




.search-entry{
    background-color:gainsboro;
}

.h1{
    
    text-align: center;
    color: #167AC6;
    font-size:20px;
    font-weight:bold;
    font-family: Verdana;
    margin-bottom: 40px;
}

.center{
    font-family: Verdana;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}
